<h3>Motivos Atendimento</h3>
<div align="left">
    <%= form_tag '', :method => :get do %>
      <%= select_tag :tp_motivo, options_for_select(@motivo_sup.map{|s| s.descricao} ),:prompt =>'Informe Tipo Motivo...'  %>
      <%= text_field_tag :nome_motivo, nil, :placeholder =>'Informe Motivo...'  %>
      <%= submit_tag 'Filtar Registros' %>
    <% end %>
   <hr>
</div>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Motivo</th>
      <th>Sub-Motivo</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @motivos.each do |motivo| %>
      <tr>
        <td><%= motivo.motivo_id %></td>
        <td><%= motivo.descricao %></td>
        <td><%= link_to 'Mostrar', motivo %></td>
        <td><%= link_to 'Editar', edit_motivo_path(motivo) %></td>
        <td><%= link_to 'Eliminar', motivo, method: :delete, data: { confirm: 'Confirma Exclusão?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>
</div>
<div class="text-center">
    <%= will_paginate @motivos %>
</div>

<%= link_to 'Novo Motivo', new_motivo_path %>
