<p id="notice"><%= notice %></p>

<p>
  <strong>Objeto:</strong>
  <%= @interessado.objeto_id %>
</p>

<p>
  <strong>Objeto type:</strong>
  <%= @interessado.objeto_type %>
</p>

<p>
  <strong>Nm contato:</strong>
  <%= @interessado.nm_contato %>
</p>

<p>
  <strong>Tp retorno:</strong>
  <%= @interessado.tp_retorno %>
</p>

<p>
  <strong>Ds retorno:</strong>
  <%= @interessado.ds_retorno %>
</p>

<p>
  <strong>Interessado:</strong>
  <%= @interessado.interessado_id %>
</p>

<p>
  <strong>Papel:</strong>
  <%= @interessado.papel %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @interessado.obs %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @interessado.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @interessado.updated_by %>
</p>

<%= link_to 'Edit', edit_interessado_path(@interessado) %> |
<%= link_to 'Back', interessados_path %>
