<%= form_for(@contrato_equipamento) do |f| %>
  <% if @contrato_equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contrato_equipamento.errors.count, "error") %> prohibited this contrato_equipamento from being saved:</h2>

      <ul>
      <% @contrato_equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contrato_id %><br>
    <%= f.number_field :contrato_id %>
  </div>
  <div class="field">
    <%= f.label :equipamento_id %><br>
    <%= f.number_field :equipamento_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :vl_tabela %><br>
    <%= f.text_field :vl_tabela %>
  </div>
  <div class="field">
    <%= f.label :vl_negociado %><br>
    <%= f.text_field :vl_negociado %>
  </div>
  <div class="field">
    <%= f.label :vl_locacao %><br>
    <%= f.text_field :vl_locacao %>
  </div>
  <div class="field">
    <%= f.label :dt_inicio %><br>
    <%= f.datetime_select :dt_inicio %>
  </div>
  <div class="field">
    <%= f.label :dt_termino %><br>
    <%= f.datetime_select :dt_termino %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
