<h3>Campanhas</h3>
<br>
<table id="tbCampanha">
  <thead>
    <tr>
      <th>Campanha</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th>Valor Meta</th>
      <th>Responsavel</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @campanhas.each do |campanha| %>
      <tr>
        <td><%= campanha.nm_campanha %></td>
        <td><%= campanha.dt_inicio.try(:strftime,"%d/%m/%Y") %></td>
        <td><%= campanha.dt_termino.try(:strftime,"%d/%m/%Y") %></td>
        <td class="text-right"><%= number_to_currency(campanha.vl_meta) %></td>
        <td><%= campanha.responsavel.try(:first_name) +" " + campanha.responsavel.try(:last_name) %></td>
        <td><%= link_to 'Mostrar', campanha %>
            <%= link_to 'Editar', edit_campanha_path(campanha) %>
            <%= link_to 'Eliminar', campanha, method: :delete, data: { confirm: 'Confirma Exclusão?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Campanha', new_campanha_path %>
