<h2>Marcas</h2>

<div align="left">
    <%= form_tag '', :method => :get do %>
      <%= text_field_tag :nome, nil, :placeholder =>'Informe Marca...'  %>
      <%= submit_tag 'Filtar Registros' %>
    <% end %>
   <hr>
</div>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Criado por</th>
      <th>Atualizado por</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
      <% @marcas.each do |marca| %>
        <tr>
          <td><%= marca.nome %></td>
          <td><%= marca.created_by %></td>
          <td><%= marca.updated_by %></td>
          <td><%= link_to 'Mostrar', marca %></td>
          <td><%= link_to 'Editar', edit_marca_path(marca) %></td>
          <td><%= link_to 'Eliminar', marca, method: :delete, data: { confirm: 'Confirma Exclusão?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
<div class="text-center">
    <%= will_paginate @marcas %>
</div>

<%= link_to 'Nova Marca', new_marca_path %>
