<p id="notice"><%= notice %></p>

<p>
  <strong>Equipamento:</strong>
  <%= @componente_caracteristica.componente_id %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @componente_caracteristica.caracteristica_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @componente_caracteristica.valor %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @componente_caracteristica.unidade %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @componente_caracteristica.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @componente_caracteristica.updated_by %>
</p>

<%= link_to 'Edit', edit_componente_caracteristica_path(@componente_caracteristica) %> |
<%= link_to 'Back', componente_caracteristicas_path %>
