<br>
<div class="panel panel-default" >
    <div class="panel-heading">
        <i class="fa fa-calendar fa-fw"></i> Próximo Evento:
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

            <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="panel panel-yellow">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-calendar fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge"><%= @dt_evento %></div>
                                  </br>
                                  <div><%= @tp_evento %></div>
                              </div>
                          </div>
                      </div>
                      <a >
                          <div class="panel-footer">
                              <span class="pull-left"><%= link_to "Detalhes", @contrato %></span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i>
                              </span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="panel">
                    <div class="text-left">
                        <div class="huge"><%= @ds_evento %></div>
                        </br>
                        <% @produtos.each do |prod| %>
                          <div><%= prod.produto.descricao %></div>
                        <% end %>
                        </div>
                  </div>
              </div>
            </div>

      </div>
  </div>
