<h2>Produtos</h2>


<table id="produtos">
  <thead>
    <tr>
      <th>Tipo Produto</th>
      <th>Codigo Produto</th>
      <th>Nome Produto</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th >Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.tipo %></td>
        <td><%= produto.codigo %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.marca_id %></td>
        <td><%= produto.modelo %></td>
        <td><%= link_to 'Mostrar', produto %>
            <%= link_to 'Editar', edit_produto_path(produto) %>
            <%= link_to 'Eliminar', produto, method: :delete, data: { confirm: 'Confirma Exclusão?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>



<%= link_to 'Novo Produto', new_produto_path %>
