<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Status</th>
      <th>Data Previsto</th>
      <th>Conta</th>
      <th colspan="3" class="text-center" >Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @fin_movimentos.each do |fin_movimento| %>
      <tr>
        <td><%= fin_movimento.descricao %></td>
        <td><%= fin_movimento.valor %></td>
        <td><%= fin_movimento.status %></td>
        <td><%= fin_movimento.dt_previsto.strftime("%d/%m/%Y") %></td>
        <td><%= FinContum.find(fin_movimento.fin_conta_id).nm_titular %></td>
        <td><%= link_to 'Mostrar', fin_movimento %></td>
        <td><%= link_to 'Editar', edit_fin_movimento_path(fin_movimento) %></td>
        <td><%= link_to 'Eliminar', fin_movimento, method: :delete, data: { confirm: 'Confirma Exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nova Movimentação Financeira', new_fin_movimento_path %>
