<h3>Oportunidades</h3>
<table id="tbOportunidade">
  <thead>
    <tr>
      <th>Contato</th>
      <th>Processo Venda</th>
      <th>Oferta</th>
      <th>Fase</th>
      <th>Etapa</th>
      <th>Situação</th>
      <th>Responsavel</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @oportunidades.each do |oportunidade| %>
      <tr>
        <td><%= oportunidade.nm_contato %></td>
        <td><%= oportunidade.processo_venda_id %></td>
        <td><%= oportunidade.oferta_id %></td>
        <td><%= oportunidade.fase_id %></td>
        <td><%= oportunidade.etapa_id %></td>
        <td><%= oportunidade.situacao_etapa %></td>
        <td><%= oportunidade.responsavel_id %></td>
        <td><%= link_to 'Mostrar', oportunidade %>
            <%= link_to 'Editar', edit_oportunidade_path(oportunidade) %>
            <%= link_to 'Eliminar', oportunidade, method: :delete, data: { confirm: 'Confirma Exclusão?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Oportunidade', new_oportunidade_path %>
