<p id="notice"><%= notice %></p>

<p>
  <strong>Nm contato:</strong>
  <%= @oportunidade.nm_contato %>
</p>

<p>
  <strong>Tp retorno:</strong>
  <%= @oportunidade.tp_retorno %>
</p>

<p>
  <strong>Ds retorno:</strong>
  <%= @oportunidade.ds_retorno %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @oportunidade.cliente_id %>
</p>

<p>
  <strong>Processo venda:</strong>
  <%= @oportunidade.processo_venda_id %>
</p>

<p>
  <strong>Campanha:</strong>
  <%= @oportunidade.campanha_id %>
</p>

<p>
  <strong>Oferta:</strong>
  <%= @oportunidade.oferta_id %>
</p>

<p>
  <strong>Fase:</strong>
  <%= @oportunidade.fase_id %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @oportunidade.etapa_id %>
</p>

<p>
  <strong>Situacao etapa:</strong>
  <%= @oportunidade.situacao_etapa %>
</p>

<p>
  <strong>Status:</strong>
  <%= @oportunidade.status %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @oportunidade.resultado %>
</p>

<p>
  <strong>Motivo resultado:</strong>
  <%= @oportunidade.motivo_resultado_id %>
</p>

<p>
  <strong>Pc evolucao:</strong>
  <%= @oportunidade.pc_evolucao %>
</p>

<p>
  <strong>Pc sucesso:</strong>
  <%= @oportunidade.pc_sucesso %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @oportunidade.responsavel_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @oportunidade.obs %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @oportunidade.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @oportunidade.updated_by %>
</p>

<%= link_to 'Edit', edit_oportunidade_path(@oportunidade) %> |
<%= link_to 'Back', oportunidades_path %>
