<p id="notice"><%= notice %></p>

<h1>Listing Produto_componentes</h1>

<table>
  <thead>
    <tr>
      <th>Produto pai</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Vl custo</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produto_componentes.each do |produto_componente| %>
      <tr>
        <td><%= produto_componente.produto_pai_id %></td>
        <td><%= produto_componente.produto_id %></td>
        <td><%= produto_componente.quantidade %></td>
        <td><%= produto_componente.vl_custo %></td>
        <td><%= produto_componente.created_by %></td>
        <td><%= produto_componente.updated_by %></td>
        <td><%= link_to 'Show', produto_componente %></td>
        <td><%= link_to 'Edit', edit_produto_componente_path(produto_componente) %></td>
        <td><%= link_to 'Destroy', produto_componente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto componente', new_produto_componente_path %>
